.idea
.DS_Store
.sass-cache
yarn-error.log
node_modules*
build
dist*
.parcel-cache/*

# Local Netlify folder
.netlify
.env
.env.local

# DigitalOcean App Platform configuration with sensitive data
api-service/app-spec.yaml
